  <!-- Start of main container -->
  <div class="container">
    <!-- Start of row -->
    <div class="row">
      <!-- Start of burgersToEat div -->
      <div class="col s4 burgersToEat">
        <h3>Burgers Wanna Eat</h3>
        <!-- Loop through the burgers object -->
        {{#each burgers}}
        <!-- if devoured is false display the burger name and id into this div -->
        {{#unless this.devoured}}
            <div id="burgerDiv">
              <p id="burgersList">{{this.id}}. {{this.burger_name}}</p>
              <button id="devBtn" data-burgerid="{{this.id}}" data-state="{{this.devoured}}">Devour</button>
            </div>
          {{/unless}}
          <!-- End of if condition -->
        {{/each}}
        <!-- End of the Loop through the burgers object -->
      </div>
      <!-- End of burgersToEat div -->
      <!-- Start of input form div -->
      <div class="col s4 middleDiv">
          <h1>Eat Da Burger !</h1>
          <img class="responsive-img" src="/assets/images/burger.jpg" alt="burger">
          <center>
            <form action="/add" method="POST">
              <textarea type="text" id="burgerName" rows="4" cols="50" placeholder="Add a burger ..."></textarea> <br>
              <button id="submitBtn" type="submit">Add Burger</button>
              <p>Enter a burger you want to eat then hit submit!</p>
            </form>
          </center>
      </div>
      <!-- End of input form div -->
      <!-- Start of burgerToDevour div -->
      <div class="col s4 burgersToDevour">
          <h3>Devoured Burgers</h3>
          <!-- Loop through the burgers object -->
          {{#each burgers}}
          <!-- if devoured is true display the burger name and id into this div -->
          {{#if this.devoured}}
            <div id="burgerDiv">
              <p id="burgersList">{{this.id}}. {{this.burger_name}}</p>
            </div>
          {{/if}}
          <!-- End of if condition -->
        {{/each}}
        <!-- End of the Loop through the burgers object -->
      </div>
      <!-- End of burgerToDevour div -->
    </div>
    <!-- End of row -->
</div>
<!-- End of main container -->



